:root {
  --blue: #2471A3;
  --light-blue: #D4E6F1;
  --red: #E74C3C;
}

h1 {
  margin-bottom: 35px;
  text-align: center;
  color: var(--blue);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  
}

.buttons button:hover {
  background-color: var(--light-blue);
}

button {
  padding: 10px 20px;
  border: var(--blue) 3px solid;
  background-color: transparent;
  color: var(--blue);
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}

.btn-delete:hover {
  border-color: var(--red);
  color: var(--red);
}

table {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

thead {
  font-size: 20px;
  font-weight: 600;
  margin-top: 25px;
}

thead tr {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--blue);
  color: #fff;
  padding: 18px 0;
  text-align: center;
}

thead td {
  align-self: center;
}

tbody {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

tbody tr {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

tbody tr:hover {
  background-color: var(--light-blue);
}

tbody td {
  align-self: center;
}

tbody img {
  width: 80px;
  border-radius: 8px;
}

tr {
  padding: 10px 0;
}

td {
  width: 80px;
}

.won {
  font-size: 32px;
}